* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    position: relative;
    background-color: #ede6d1;
}

h1 {
    font-size: clamp(3.5rem, 4.5vw, 9rem);
    font-weight: 700;
    padding-bottom: 15px;
}

h2 {
    font-size: clamp(2.75rem, 3.5vw, 7rem);
    font-weight: 600;
    padding-bottom: 15px;
}

h3 {
    font-size: clamp(1.75rem, 2.5vw, 5rem);
    font-weight: 400;
    padding-bottom: 15px;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-overlay {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 2;
    h2 {
        color: #ffff;
    }
    p {
        color: #ffff;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    width: min(50%, 800px);
    margin: 3rem auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li {
    list-style: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: none;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 40px;
}

.nav-links {
    a {
        color: #ffff;
    }
    .nav-icon {
        padding-top: 5px;
        margin-left: auto;

        color: #ffff;
        i {
            padding: 5px;
        }
    }
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    li {
        padding: 5px 14px;
    }

    li:hover {
        border-radius: 5px;
        background-color: #e2d2b3;
        transition: 0.3s ease;
    }
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type='checkbox'] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: #fff;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 900px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #fff;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        li {
            margin-top: 12px;
        }
        li:hover {
            display: inline-block;
            background-color: #4c9e9e;
            transition: 0.3s ease;
        }
    }

    input[type='checkbox']:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

.content {
    width: min(100%, 100%);
    padding: 5rem;
    text-align: center;
    background-color: #ede6d1;
}

.navigate {
    width: 60%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 2rem;
    .navigate-menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
        a {
            color: #000;
        }
        li {
            padding: 5px 14px;
        }

        li:hover {
            background-color: #4c9e9e;
            border-radius: 5px;
            transition: 0.3s ease;
        }
    }
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
    padding: 24px;
    flex-wrap: nowrap;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    position: relative;
    background: none;
    border-radius: 1.5rem;
}

.box-image {
    width: 100%;
    height: 360px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 1rem;
}
.title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.box-title {
    padding-left: 12px;
}

/*GRIDS*/

.gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 1rem;
    padding-top: 2rem;

    .gallery__item {
        position: relative;
        overflow: hidden;
        &:hover {
            &:after {
                background-color: rgba(128, 128, 128, 0.6);
            }
        }
    }

    .gallery__item::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0);
        transition: background-color 0.3s ease;
        z-index: 1;
    }
    .shop-now {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        margin-top: 2rem;
    }

    .gallery__item--1 {
        grid-column: 1 / 7;
        grid-row: 1 / 4;
    }
    .gallery__item--2 {
        grid-column: 7 / 10;
        grid-row: 1 / 4;
    }
    .gallery__item--3 {
        grid-column: 10 / 14;
        grid-row: 1 / 4;
    }
    .gallery__item--4 {
        grid-column: 14 / 17;
        grid-row: 1 / 7;
    }
    .gallery__item--5 {
        grid-column: 1 / 4;
        grid-row: 4 / 7;
    }
    .gallery__item--6 {
        grid-column: 4 / 7;
        grid-row: 4 / 7;
    }
    .gallery__item--7 {
        grid-column: 7 / 12;
        grid-row: 4 / 7;
    }
    .gallery__item--8 {
        grid-column: 12 / 14;
        grid-row: 4 / 7;
    }
}
.gallery__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

.gallery-2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 1rem;
    padding-top: 2rem;

    .shop-now {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        margin-top: 2rem;
    }
    .gallery__item {
        position: relative;
        &:hover {
            &:after {
                background-color: rgba(128, 128, 128, 0.6);
            }
        }
    }

    .gallery__item::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0);
        z-index: 1;
    }

    .gallery__item--1 {
        grid-column: 1 / 10;
        grid-row: 1 / 7;
    }
    .gallery__item--2 {
        grid-column: 10 / 14;
        grid-row: 1 / 4;
    }
    .gallery__item--3 {
        grid-column: 14 / 17;
        grid-row: 1 / 4;
    }
    .gallery__item--4 {
        grid-column: 10 / 14;
        grid-row: 4 / 7;
    }
    .gallery__item--5 {
        grid-column: 14 / 17;
        grid-row: 4 / 7;
    }
}
.gallery-3 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 1rem;
    padding-top: 2rem;
    .shop-now {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        margin-top: 2rem;
    }
    .gallery__item {
        position: relative;
        &:hover {
            &:after {
                background-color: rgba(128, 128, 128, 0.6);
            }
        }
    }

    .gallery__item::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0);
        z-index: 1;
    }

    .gallery__item--1 {
        grid-column: 1 / 7;
        grid-row: 1 / 4;
    }
    .gallery__item--2 {
        grid-column: 7 / 10;
        grid-row: 1 / 4;
    }
    .gallery__item--3 {
        grid-column: 10 / 14;
        grid-row: 1 / 4;
    }
    .gallery__item--4 {
        grid-column: 14 / 17;
        grid-row: 1 / 7;
    }
    .gallery__item--5 {
        grid-column: 1 / 4;
        grid-row: 4 / 7;
    }
    .gallery__item--6 {
        grid-column: 4 / 7;
        grid-row: 4 / 7;
    }
    .gallery__item--7 {
        grid-column: 7 / 12;
        grid-row: 4 / 7;
    }
    .gallery__item--8 {
        grid-column: 12 / 14;
        grid-row: 4 / 7;
    }
}
.icon-xl {
    padding-top: 20px;
}

.breadcrumb {
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 2rem;
    padding: 30px;
    background-color: #ffff;
    margin: 0 auto;
    width: 60%;
    a {
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        font-size: 25px;
        line-height: 36px;
        color: white;
        padding: 0 40px 0 40px;
        background: #666;
        background: linear-gradient(#666, #333);
        position: relative;
    }
}

/*hover/active styles*/
.breadcrumb {
    a.active,
    a:hover {
        background: #333;
        background: linear-gradient(#333, #000);
    }
}
.breadcrumb {
    a.active:after,
    a:hover:after {
        background: #333;
        background: linear-gradient(135deg, #333, #000);
    }
}

.flat {
    a,
    a:after {
        background: white;
        color: black;
        transition: all 0.5s;
    }
}
.flat {
    a:hover,
    a.active,
    a:hover:after,
    a.active:after {
        background: #e2d2b3;
    }
}

.wrapper {
    max-width: 100%;
    position: relative;
    padding-top: 20px;
    .carousel {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 12px);
        gap: 18px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: 0;
        .dragging {
            scroll-snap-type: none;
            scroll-behavior: auto;
        }
        .no-transition {
            scroll-behavior: auto;
        }
    }
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    .dragging {
        .card {
            cursor: grab;
            user-select: none;
        }
    }
}

.carousel {
    .card {
        scroll-snap-align: start;
        height: 100%;
        list-style: none;
        background: none;
        border-radius: 8px;
        display: flex;
        cursor: pointer;
        width: 98%;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .img {
            width: 100%;
            height: 80%;
            img {
                width: 100%;
                height: 80%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

@media screen and (max-width: 900px) {
    .wrapper {
        .carousel {
            grid-auto-columns: calc((100% / 2) - 9px);
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        .carousel {
            grid-auto-columns: 100%;
        }
    }
}

.shop-btn {
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 2rem;
}

.holiday-banner {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.holiday-banner img {
    width: 100%;
    height: auto;
    display: block;
}

.holiday-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.marketplace-banner {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.marketplace-banner img {
    width: 100%;
    height: auto;
    display: block;
}

.marketplace-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    h2 {
        color: #ffff;
    }
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%; /* adjust as needed */
    padding: 6rem;
    margin: 0 auto;
    background-color: #ede6d1;

    img {
        max-width: 85%;
        height: auto;
        border-radius: 1rem;
    }
    .text {
        max-width: 60%;
        line-height: 26px;
    }
}

.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-content {
    width: 50%;
    padding: 5rem;
    text-align: center;

    background-color: #ede6d1;
}
.submit-btn {
    background-color: #ede6d1;
    padding: 15px 30px;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    color: #909090;
}

.custom-input {
    background-color: #ede6d1;
    border: 1px solid #000;
    padding: 15px;
    width: 20%;
    box-sizing: border-box;
    font-size: 16px;
    margin-right: 1rem;
}

.custom-placeholder {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #aaa;
}

#email:focus + .custom-placeholder,
#email:not(:placeholder-shown) + .custom-placeholder {
    top: -12px;
    left: 5px;
    font-size: 12px;
    width: 20%;
    color: #333;
    background-color: #fff;
    padding: 0 5px;
}

.about-us {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100%; /* adjust as needed */
    height: 40rem;
    background-color: #e2d2b3;
    border-radius: 1rem;
    padding-top: 10rem;
    margin-bottom: 8rem;
}

.about-text {
    display: flex;
    font-size: 2rem;
    justify-content: center;
}

.overlay__item {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    width: 60%;
    max-height: auto;
    flex-direction: column;
    overflow: hidden;
    background-clip: border-box;
    z-index: 1;
    .overlay__img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
        border-radius: 2rem;
    }
}

.overlay__about {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

/*FOOTER*/
a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 400;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    margin-bottom: 0.5rem;
    display: inline-flex;
}
a:hover {
    border-bottom: 1px solid var(--dark);
}
ul {
    list-style-type: none;
    padding-top: 20px;
}

.flex {
    display: flex;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #e2d2b3;
}
.footer-container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

@media (min-width: 675px) {
    .layout {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 2rem;
    }
    .w-50 {
        width: 50%;
    }
    .w-25 {
        width: 25%;
    }
    .w-60 {
        width: 60%;
    }
    .w-30 {
        width: 30%;
    }
}
form {
    position: relative;
}
svg {
    margin: 0.5rem;
}
.c-2 {
    margin-top: 3.5rem;
}
.footer_copyright {
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*LOGIN*/

/*TRACKING*/

.progress-content {
    width: min(100%, 100%);
    padding: 5rem;
    text-align: center;
    background-color: #ede6d1;
}

.progress-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}

.progress-line {
    position: absolute;
    top: 4.5%;
    left: 50%;
    transform: translate(-50%);
    height: 2px;
    width: 1200px;
    background-color: #ab9b7f;
}
.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.step-container {
    text-align: center;
}

.step {
    width: 20px;
    height: 20px;
    background: none;
    border: 2px solid #ab9b7f;
    border-radius: 50%;
}

.step-container span {
    margin-top: 5px;
    font-size: 25px;
    color: #5f6368;
}

.first-box {
    height: 500px;
    width: 500px;
    background-color: none;
    display: inline-block;
    cursor: pointer;
}

.second-box {
    height: 500px;
    width: 500px;
    background-color: none;
    display: inline-block;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .first-box {
        height: 400px;
        width: 400px;
    }
    .second-box {
        height: 400px;
        width: 400px;
    }
}

@media screen and (max-width: 1024px) {
    .first-box {
        height: 300px;
        width: 300px;
    }
    .second-box {
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 800px) {
    .first-box {
        height: 250px;
        width: 250px;
    }
    .second-box {
        height: 250px;
        width: 250px;
    }
}

.grid-container {
    columns: 4 150px;
    column-gap: 2.5rem;
    width: 70%;
    margin: 0 auto;
    padding-top: 5rem;
    margin-left: 20rem;
    .add {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    div {
        width: 150px;
        margin: 0 1.5rem 1.5rem 0;
        display: inline-block;
        width: 100%;
        padding: 5px;
        transition: all 0.25s ease-in-out;
        &:hover img {
            filter: grayscale(80%);
        }
        img {
            width: 100%;
            transition: all 0.25s ease-in-out;
        }
        p {
            margin: 5px 0;
            padding-top: 5px;
            text-align: center;
        }
    }
    .grid-item {
        position: relative;
        &:hover {
            &:after {
                background-color: rgba(128, 128, 128, 0.8);
            }
        }
    }

    .grid-item::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0);
        transition: background-color 0.3s ease;
        z-index: 1;
    }
}

/*Build Box Page 3*/

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 90%;
    height: 55%;
    border-radius: 5px;
    z-index: 0;
    .row {
        display: flex;
        justify-content: space-between;
    }
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 100%;
}

.blog-card .photo {
    position: absolute;
    height: 100%;
    top: 0;
    left: 62%;
    transform: translate(-50%);
    background-size: cover;
    background-position: center;
}

.blog-card .description {
    padding: 1rem;
    background: #ffffff;
    position: relative;
    z-index: 1;
}

.blog-card .description form {
    margin-top: 20px;
}

.blog-card .description .form-group {
    margin-bottom: 25px;
}

.blog-card .description input[type='text'] {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 20px;
    border: 1px solid #ccc;
}

#input3 {
    height: 180px;
    width: 100%; /* Adjust the height as needed */
}

.blog-card .description button {
    padding: 15px 25px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    cursor: pointer;
}

.blog-card .description button:hover {
    background-color: #e2d2b3;
}

@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        .meta {
            flex-basis: 30%;
            height: auto;
        }
        .description {
            flex-basis: 60%;
        }
    }
}

/*CART*/

$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';

.product-image {
    float: left;
    width: 20%;
}
.product-details {
    float: left;
    width: 37%;
}
.product-price {
    float: left;
    width: 12%;
}
.product-quantity {
    float: left;
    width: 10%;
}
.product-removal {
    float: left;
    width: 9%;
}
.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 0;
}

/* Apply clearfix in a few places */
.shopping-cart,
.column-labels,
.product,
.totals-item {
    @extend .group;
}
.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
    content: 'Rs.';
}

/* Column headers */
.column-labels {
    label {
        padding-bottom: 15px;
        margin-bottom: 15px;
        font-size: 15px;
    }
}
.product-removal {
    text-indent: -9999px;
}
/* Product entries */
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    height: auto;
    border-bottom: 1px solid #333;

    .product-image {
        text-align: center;
        img {
            width: 100px;
        }
    }

    .product-quantity {
        input {
            width: 150px;
            height: 45px;
            text-align: center;
            background-color: #ede6d1;
            border: 1px solid #333;
        }
    }

    .remove-product {
        border: 0;
        padding: 8px 20px;
        background-color: #ede6d1;
        color: #000000;
        font-family: $font-bold;
        font-size: 12px;
        border: 1px solid #333;
    }

    .remove-product:hover {
        background-color: rgb(193, 175, 175);
    }
}

/* Totals section */
.totals {
    .totals-item {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;

        label {
            float: left;
            clear: both;
            width: 79%;
            text-align: right;
        }

        .totals-value {
            float: right;
            width: 21%;
            text-align: right;
        }
    }
}

.checkout {
    float: right;
    border: 0;
    margin-top: 40px;
    padding: 10px 25px;
    background-color: #ffffff;
    color: #333;
    font-size: 25px;
    border: 1px solid #333;
}

.checkout:hover {
    background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
    .shopping-cart {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid #333;
    }

    .column-labels {
        display: none;
    }

    .product-image {
        float: right;
        width: auto;
        img {
            margin: 0 0 10px 10px;
        }
    }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 70px;
    }

    .product-quantity {
        width: 100px;
        input {
            margin-left: 20px;
        }
    }

    .product-quantity:before {
        content: '';
    }

    .product-removal {
        width: auto;
    }

    .product-line-price {
        float: right;
        width: 70px;
    }
}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
    .product-removal {
        float: right;
    }

    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .product .product-line-price:before {
        content: 'Item Total: $';
    }

    .totals {
        .totals-item {
            label {
                width: 60%;
            }

            .totals-value {
                width: 40%;
            }
        }
    }
}

/*PROFILE*/

.profile-container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .section {
        display: flex;
        margin: 0 auto;
        width: 95%;
        justify-content: space-between;
        padding: 20px;
        padding-top: none;
        border-bottom: 1px solid #ab9b7f;
    }

    .section p,
    a {
        margin: 0;
    }
    @media (min-width: 675px) {
        .layout {
            display: flex;
            flex-wrap: nowrap;
            column-gap: 2rem;
            padding: 40px;
        }
        .w-50 {
            width: 50%;
        }
        .w-25 {
            width: 25%;
        }
    }

    form {
        position: relative;
    }
    svg {
        margin: 0.5rem;
    }
    .c-2 {
        margin-top: 3.5rem;
    }
}

/*BUILD BOX 2*/
.item-container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;

    .checkout {
        float: left;
    }

    .fill {
        background-color: #ab9b7f;
        color: #fff;
        font-size: 30px;
    }

    li {
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (min-width: 675px) {
    .layout {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 2rem;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .w-60 {
        width: 60%;
        border-right: 1px solid;
    }
    .w-40 {
        width: 40%;
    }
}

/*POPUP*/

$white: #f5f5f5;
$light: #e0c9cb;
$tan: #c3a1a0;
$pink: #d9aab7;
$rose: #ba7e7e;
$dark: #4e4e4e;

/* center container in the middle */

.popup-container {
    position: relative;
    margin: 20px;
    overflow: hidden;
    width: 60%;
    height: 50%;
    background: $white;
    padding-left: 40px;
    box-shadow: 5px 5px 15px rgba($rose, 0.5);
    border-radius: 10px;
    img {
        width: 45%;
        margin-top: 47px;
    }
}

.product {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10%;
    left: 60%;
}

.desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: $dark;
    font-size: 0.7em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
}

.close-btn {
    color: #555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

button {
    background: darken($light, 10%);
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
    cursor: pointer;
    &:hover {
        background: $rose;
        transition: all 0.4s ease-in-out;
    }
}

.add {
    width: 67%;
}

.like {
    width: 22%;
}

.pick {
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 20px;
}

.size {
    padding: 9px;
    border: 1px solid $light;
    font-size: 0.7em;
    text-align: center;
    &:hover {
        background: $rose;
        color: $white;
        transition: all 0.4s ease-in-out;
    }
}

.focus {
    background: $rose;
    color: $white;
}

/*SIDENAV*/

.app {
    height: auto;
}
/* -------------
Sidebar
---------------*/
.sidebar {
    position: absolute;
    //width: 33.3333%;
    width: 17em;
    height: 100vh;
    top: 27.3%;
    overflow: hidden;
    background-color: #ede6d1;
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;

    header {
        background-color: #ede6d1;
        width: 100%;
        display: block;
        padding: 0.75em 1em;
    }
}

.sidebar-nav {
    position: fixed;
    //width: 13em;
    background-color: #ede6d1;
    height: 100%;
    font-weight: 400;
    font-size: 1.2em;
    overflow: auto;
    padding-bottom: 6em;
    z-index: 9;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    label {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    ul {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;

        li {
            margin-left: 0;
            padding-left: 0;
            display: inline-block;
            width: 100%;

            a {
                color: rgba(0, 0, 0, 0.9);
                font-size: 0.75em;
                padding: 1.05em 1em;
                position: relative;
                display: block;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.9);
                }
            }

            i {
                font-size: 1.8em;
                padding-right: 0.5em;
                width: 9em;
                display: inline;
                vertical-align: middle;
            }
        }
    }

    & > ul > li > a:after {
        content: '\f125';
        font-family: ionicons;
        font-size: 0.5em;
        width: 10px;
        color: #000000;
        position: absolute;
        right: 0.75em;
        top: 45%;
    }

    & .nav-flyout {
        position: absolute;
        background-color: #080d11;
        z-index: 9;
        left: 2.5em;
        top: 0;
        height: 100vh;
        transform: (translateX(100%));

        a:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    & ul > li:hover {
        .nav-flyout {
            transform: (translateX(0));
            transform: (all 0.5s ease);
        }
    }
}

/*SHOP NOW*/

.shop-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%; /* adjust as needed */
    padding: 6rem;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: left;

    img {
        max-width: 90%;
        height: auto;
    }
    .text {
        line-height: 26px;
    }
    form {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 25px;
    }

    input[type='text'] {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 40px;
        padding-left: 20px;
        border: 1px solid #ccc;
    }

    #input3 {
        height: 180px;
        width: 100%; /* Adjust the height as needed */
    }

    button {
        padding: 15px 25px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border: 1px solid #ccc;
        cursor: pointer;
    }

    button:hover {
        background-color: #e2d2b3;
    }
}

/*ABOUT PAGE*/

.secondary-img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.secondary-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.secondary-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    h2 {
        color: #ffff;
    }
    p {
        color: #ffff;
    }
}

.about-container {
    width: 100%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-content {
    margin-bottom: 3rem;
    text-align: center;
    width: 80%;
    h2 {
        font-size: clamp(2.65rem, 3vw, 5.5rem);
        font-weight: 600;
        color: #333;
        padding-bottom: 20px;
    }
    h3 {
        font-size: clamp(1.25rem, 2.25vw, 3.5rem);
        font-weight: 500;
    }
    p {
        font-size: clamp(10px, 2vw, 25px);
        line-height: 26px;
        font-weight: 200;
        padding-bottom: 20px;
    }
}

.team-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 10rem;
    padding: 3rem;
    flex-wrap: nowrap;
}

.team-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    position: relative;
    background: none;

    .box-image {
        width: 100%;
        height: 360px;
        height: 100%;
        object-fit: cover;
        object-position: 50% 20%;
    }
    .title-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
    .box-title {
        font-size: clamp(1.65rem, 2.5vw, 3.5rem);
        font-weight: 600;
        color: #5a5a5a;
    }
    h5 {
        font-size: clamp(15px, 1.75vw, 20px);
        font-weight: 500;
        color: #5a5a5a;
    }
}

/*COORPORATE*/
.coororate-banner {
    position: relative;
    padding: 5rem;
    width: 100%;
    background-color: #907b54;
    margin-bottom: clamp(80px, 10vw, 400px);
    text-align: center;
    .coorporate-title {
        font-size: clamp(2rem, 3.5vw, 3.75rem);
        font-weight: 600;
        color: #fff;
        padding-bottom: 4rem;
    }
    h5 {
        font-size: clamp(40px, 2.65vw, 2rem);
        font-weight: 600;
        color: #fff;
    }
    p {
        color: #fff;
        font-size: clamp(12px, 2.5vw, 25px);
        font-weight: 400;
        font-family: Raleway;
        padding-top: 20px;
    }
    @media (max-width: 480px) {
        margin-bottom: 380px;
    }
    @media (max-width: 400px) {
        margin-bottom: 330px;
    }

    .container-lg {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: clamp(30px, 6vw, 55px);

        .card1 {
            display: flex;
            padding-bottom: clamp(20px, 3vw, 40px);
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: left;
            width: 25%;
            @media (max-width: 992px) {
                width: 100%;
            }
            @media (max-width: 768px) {
                width: 100%;
            }
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
}
