/* -------------
Sidebar
---------------*/
.sidebar {
    position: absolute;
    width: 17em;
    height: 80%;
    top: 50;
    overflow: hidden;
    background-color: #d8c6a6;
    visibility: visible;

    header {
        width: 100%;
        display: block;
        padding: 0.75em 1em;
        font-size: 25px;
    }
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
    position: absolute;
    background-color: #d8c6a6;
    height: 100%;
    font-weight: 400;
    font-size: 1.2em;
    overflow: auto;
    padding-bottom: 6em;
    z-index: 9;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    input {
        background-color: none;
        border: 1px solid #000;
        padding: 15px 90px;
        width: 20%;
        box-sizing: border-box;
        font-size: 16px;
        margin-right: 1rem;
        margin-left: 20px;
    }

    label{
      padding-left: 20px;
      font-size: 15px;

    }
    .placeholder {
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
        transition: all 0.3s ease;
        color: #333;
    }
    ul {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;

        li {
            margin-left: 0;
            padding-left: 0;
            display: inline-block;
            width: 100%;

            a {
                color: #333;
                font-size: 1rem;
                padding: 1.05em 1em;
                position: relative;
                display: block;

                &:hover {
                    background-color: rgba(153, 153, 153, 0.9);
                }
            }
            /* -------------
Sidebar: icons
----------------*/
            i {
                font-size: 1.8em;
                padding-right: 0.5em;
                width: 9em;
                display: inline;
                vertical-align: middle;
            }
        }
    }

    /* -------------
Chev elements
----------------*/
    & > ul > li > a:after {
        content: '\f125';
        font-family: ionicons;
        font-size: 0.5em;
        width: 10px;
        color: #d8c6a6;
        position: absolute;
        right: 0.75em;
        top: 45%;
    }

    /* -------------
Hover
----------------*/
    & ul > li:hover {
        .nav-flyout {
            transform: (translateX(0));
            transform: (all 0.5s ease);
        }
    }
}
